// Custom block with setting
// conditional per environment.
servers {
    local {
        mail.host = 'greenmail'
        email = 'james.northrop@orange.fr'
    }

    prod {
        mail.host = 'mail.server'
        email='james.b.northrop@googlemail.com'
    }
}

environments {
    local {
        appName = 'local'
    }
    prod {
        appName = 'production'
    }
}

data{
	domain='cloud.jnorthr.tools'
	name='jnorthr'
}